<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<head>
  <style>
    .detail-detail { padding: 2em; }
    .detail-detail img { width: 200px; }
  </style>
</head>
<body>

  <section class="detail-detail">
    <h2>{{ shops.title }}</h2>
    {% if shops.image %}
      <img src="{{ shops.image.url }}" alt="Product Image">
    {% endif %}
    <p><strong>Price :</strong> ${{ shops.price }}</p>
    <p><strong>Description :</strong> {{ shops.content }}</p>
    <div style="position: absolute; top: 10px; left: 10px; color: white;">
      <p><strong>Category :</strong> {{ shops.type.category.name }} - {{ shops.type.name }}</p>
    </div>

    <button>Add to Cart</button>
  </section>

</body>
</html>

{% endblock content %}